<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<dataConfiguration defaultDatabase="HanksConnection"/>
	<connectionStrings>
		<add name="HanksConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\项目资源\SourceDB.mdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<appSettings>
		<add key="SourcePath" value="F:\桌面\多媒体项目实践\项目实现\项目资源\"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>